<table class="table table-striped table-bordered">
	<thead>
		<th>Id</th>
		<th>Username</th>
		<th>Email</th>
		<th></th>
		<th></th>
	</thead>
	<% @users.each do |u| %>
	<tr>
		<td><%= u.id %></td>
		<td><%= link_to u.username, u %></td>
		<td><%= u.email %></td>
		<td><%= link_to "Edit", edit_user_path(u) %></td>
		<td><%= link_to "Delete", u, :confirm => "Are you sure?", :method => :delete %></td>
	</tr>
	<% end %>
</table>
