<%= form_for(@log, :html => { :class => "form-horizontal well"}) do |f| %>
<% if @log.errors.any? %>
<div id="alert alert-error alert-block">
	<button type="button" class="close" data-dismiss="alert">x</button>
	<ul>
		<% @log.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>

<fieldset>
	<div id="legend">
		<legend class="">New Log</legend>
	</div>

	<div class="control-group">
		<label class="control-label" for="title">Title</label>
		<div class="controls">
			<%= f.text_field :title %>
			<p class="help-block"></p>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="description">Description</label>
		<div class="controls">
			<%= f.text_field :description %>
			<p class="help-block"></p>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="author">Author</label>
		<div class="controls">
			<%= f.text_field :author, :value => (user_signed_in? ? current_user.username : "") %>
			<p class="help-block"></p>
		</div>
	</div>

	<%= f.hidden_field :owner, :value => (user_signed_in? ? current_user.id : 0) %>
	<%= f.hidden_field :creator, :value => (request.env['HTTP_X_FORWARDED_FOR'] || request.remote_ip) %>

	<div class="control-group">
		<label class="control-label" for="game">Game</label>
		<div class="controls">
			<%= select("log", "game", Game.all.collect {|g| [ g.name, g.id ] }.push(["Other", 0]), {}) %>
			<p class="help-block"></p>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="category">Category</label>
		<div class="controls">
			<%= select("log", "category", Category.all.collect {|c| [ c.name, c.id ] }.push(["Other", 0]), {}) %>
			<p class="help-block"></p>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="file">Log File</label>
		<div class="controls">
			<%= f.file_field :file %>
			<p class="help-block"></p>
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label" for="private">Private</label>
		<div class="controls">
			<%= f.check_box :private %>
			<p class="help-block">Removes your log from the listings</p>
		</div>
	</div>

        <div class="control-group">
                <label class="control-label" for="downloadable">Downloadable</label>
                <div class="controls">
			<%= f.check_box :downloadable %>
                        <p class="help-block">Allow others to view the raw log or download it</p>
                </div>
        </div>

	
	<div class="control-group">
		<div class="controls">
			<%= f.submit "Submit", :class => "btn btn-success" %>
		</div>
	</div>
</fieldset>

<% end %>

